<div class="banners-title">
    <div class="banners-title-big">
        <%- theme.hometop.banner.title %>
    </div>
    <div class="banners-title-small">
        <%= theme.hometop.banner.url %>
    </div>
</div>
<div class="tags-group-all">
    <div class="tags-group-wrapper">
        <% for(let i = 1; i <= 2; i++){ %>
            <% let index = 1 %>
            <% for(const i in theme.hometop.banner.icon){ %>
                <% if(index % 2 == 1){ %>
                    <div class="tags-group-icon-pair">
                <% } %>    
                    <div class="tags-group-icon" style="background: <%- theme.hometop.banner.icon[i].color %>">
                        <img src="<%= theme.hometop.banner.icon[i].img %>" title="<%= i %>" loading="lazy">
                    </div>
                <% if(index % 2 == 0){ %>
                    </div>
                <% } %>
                <% index++ %>
            <% } %>   
        <% } %>    
    </div>
</div>
<a id="banner-hover" onclick="toRandomPost()" data-pjax-state="">
    <span class="bannerText">随便逛逛</span>
    <i class="fas fa-arrow-right banner-righticon"></i>
</a>