<div id="footer_deal">
    <% for(const i in theme.footer.information.left){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.left[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.left[i].icon %>"></i>
        </a>
    <% } %>
    <img class="footer_mini_logo" src="<%= theme.site.icon %>"
        title="返回顶部" onclick="acrylic.toTop()">
    <% for(const i in theme.footer.information.right){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.right[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.right[i].icon %>"></i>
        </a>
    <% } %>
</div>    
<div id="heo-footer">
    <% for(const x in theme.footer.group){ %>
        <div class="footer-group">
            <h3 class="footer-title"><%= x %></h3>
            <div class="footer-links">
                <% for(const y in theme.footer.group[x]){ %>
                    <a class="footer-item" href="<%= url_for(theme.footer.group[x][y]) %>" title="<%= y %>" rel="noopener external nofollow noreferrer"><%= y %></a>
                <% } %>    
            </div>
        </div>
    <% } %>
    <% if(theme.footer.randomlink){ %>
        <div class="footer-group">
            <div class="footer-title-group">
                <h3 class="footer-title">友链</h3>
                <a class="random-friends-btn" href="javascript:randomLinksList();" rel="external nofollow">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </a>
            </div>
            <div class="footer-links" id="friend-links-in-footer">
            </div>
        </div>
    <% } %>
</div>
<div id="footer-section">
    <div class="footer-section-links">
        <div class="footer-section-left">
            <div id="footer-section-tips">
                <div class="copyright">©<%= moment(theme.aside.siteinfo.runtime).year() %> - <%= new Date().getFullYear() %> By 
                    <a class="footer-section-link" href="/" rel="external nofollow"><%= config.author %></a>
                    <a class="footer-section-link" href="https://github.com/hexo-theme-Acrylic/Hexo-Theme-Acrylic-Next" rel="external nofollow" target="_blank"> Theme By Acrylic-Next</a>
                    <a class="footer-section-link" href="<%- theme.footer.cdn.url %>" rel="external nofollow" target="_blank"><%- theme.footer.cdn.desc %></a>
                </div>
            </div>
        </div>
        <div class="footer-section-right">
            <a class="footer-section-link" href="<%- theme.footer.rss.url %>">订阅</a>
            <% if(theme.site.icp){ %>
                <a class="footer-section-link" target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" rel="noopener external nofollow noreferrer noopener">
                    <%= theme.site.icp %>
                </a>
            <% } %>
            <a class="footer-section-link cc" target="_blank" href="<%- theme.footer.license.url %>" title="cc协议">
                <i class="<%- theme.footer.license.icon %>"></i>
            </a>
        </div>
    </div>
</div>