<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= page.title || config.title %>
    <% if (config.subtitle){ %>
        - <% config.subtitle %>
    <% } %>
</title>
<noscript>开启Javascript是必要的</noscript>
<link rel="stylesheet" href="/css/var.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="/lib/snackbar.min.css">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.site.siteIcon) %>">
<link rel="apple-touch-icon" href="<%= url_for(theme.site.siteIcon) %>">
<meta name="apple-mobile-web-app-title" content="<%= config.title %>">
<link rel="bookmark" href="<%= url_for(theme.site.siteIcon) %>">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= url_for(theme.site.siteIcon) %>">
<meta name="description" content="<%= config.description %>">
<!-- <meta name="theme-color" content="#1C1C1F"> -->
<% if (theme.extends.head) for (const i of theme.extends.head){ %>
    <%- i %>
<% } %>
<script type="text/javascript" src="/lib/qrcode.min.js"></script>
<div class="site-config">
    <script>
        var GOBALPAGE = "<%= is_home() ? 'home' : (is_post() ? 'post' : (is_page() ? 'page' : 'temp')) %>"
    </script> 
</div>
