<% const cdn = theme.cdn.body %>
<%- js(cdn.pjaxjs) %>
<% if(theme.lazyload.enable){ %>
    <%- js(cdn.lazyloadjs) %>
<% } %>
<%- js(cdn.snackbarjs) %>
<% if(theme.lightbox){ %>
    <%- js(cdn.viewimagejs) %>
<% } %>
<% if(theme.hometop.bbtime){ %>
    <%- css(cdn.swipercss) %>
    <%- js(cdn.swiperjs) %>
<% } %>
<% if(theme.footer.randomlink){ %>
    <%- randomLinks() %>
<% } %>
<div id="js-pjax">
    <% if(page.type === 'says'){ %>
        <%- js(cdn.waterfalljs) %>
        <script>
            window.addEventListener('resize', utils.throttle(function () {
                if (document.getElementById('waterfall')) {
                    acrylic.reflashEssayWaterFall();
                }
            }), 500);
        </script>
    <% } %> 
</div>
