<div class="banners-title">
    <div class="banners-title-small"><%= page.title %></div>
    <div class="banners-title-big"><%= page.desc %></div>
</div>
<div class="banner-button-group">
    <a class="banner-button secondary" onclick="travelling()">
        <i class="fas fa-shuffle"></i>
        <span class="banner-button-text">随机访问</span>
    </a>
    <a class="banner-button" onclick="addFriendLink()" href="javascript:;" rel="external nofollow">
        <i class="fas fa-circle-chevron-right"></i>
        <span class="banner-button-text">申请友链</span>
    </a>
</div>
<div class="tags-group-all nowrapMove">
    <div class="tags-group-wrapper">
      <% const data = site.data.links.banner %>
      <% for(let i = 1; i <= 2; i++){ %>
        <% for (let i = 0; i < Math.ceil(data.length / 2); i++) { %>
          <div class="tags-group-icon-pair">
            <% for (let j = i * 2; j < Math.min(data.length, i * 2 + 2); j++) { %>
              <a class="tags-group-icon" href="<%= url_for(data[j].link) %>" title="<%= data[j].name %>">
                <img src="<%= data[j].avatar %>" title="<%= data[j].name %>">
              </a>
            <% } %>
          </div>
        <% } %>
      <% } %>    
    </div>
  </div>
  
  
  

