<div class="banners-title">
    <div class="banners-title-small"><%= page.title %></div>
    <div class="banners-title-big"><%= page.desc %></div>
</div>
<div class="banner-button-group">
    <a class="banner-button secondary" onclick="travelling()">
        <i class="fas fa-shuffle"></i>
        <span class="banner-button-text">随机访问</span>
    </a>
    <a class="banner-button" onclick="addFriendLink()" href="javascript:;" rel="external nofollow">
        <i class="fas fa-circle-chevron-right"></i>
        <span class="banner-button-text">申请友链</span>
    </a>
</div>
<div class="tags-group-all nowrapMove">
    <div class="tags-group-wrapper">
        <% const data = site.data.links.banner %>
        <% let count = 0 %>
        <% for(let i = 1; i <= 2; i++) { %>
            <div class="tags-group-icon-pair">
                <% for(let j = 0; j < 2; j++) { %>
                    <% if(count < data.length) { %>
                        <% const item = data[count] %>
                        <a class="tags-group-icon" href="<%= url_for(item.link) %>" title="<%= item.name %>">
                            <img src="<%= item.avatar %>">
                        </a>
                        <% count++ %>
                    <% } %>
                <% } %>
                <% if(count % 2 === 1 && count < data.length) { %>
                    <div class="tags-group-icon"></div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>

