<div class="banners-title">
    <div class="banners-title-small"><%= page.title %></div>
    <div class="banners-title-big"><%= page.desc %></div>
</div>
<div class="banner-button-group">
    <a class="banner-button secondary" onclick="travelling()">
        <i class="fas fa-shuffle"></i>
        <span class="banner-button-text">随机访问</span>
    </a>
    <a class="banner-button" onclick="addFriendLink()" href="javascript:;" rel="external nofollow">
        <i class="fas fa-circle-chevron-right"></i>
        <span class="banner-button-text">申请友链</span>
    </a>
</div>
<div class="tags-group-all nowrapMove">
    <div class="tags-group-wrapper">
        <% const data = site.data.links.banner %>
        <% for(let i = 1;i <= 2; i++){ %>
           <% data.forEach((item,index) => { %>
                <% if(index % 2 == 0){ %>
                    <div class="tags-group-icon-pair">
                <% } %>    
                    <a class="tags-group-icon" href="<%= url_for(item.link) %>" title="<%= item.name %>">
                        <img src="<%= item.avatar %>" title="<%= item.name %>" loading="lazy">
                    </a>
                <% if(index % 2 == 1){ %>
                    </div>
                <% } %>    
            <% }); %> 
        <% } %>    
    </div>
</div>