<div class="author-content">
  <div class="author-content-item left-side" >
    <img src="<%= site.data.about.game1.img %>" alt="">
    <div class="card-content">
      <div class="author-content-item-tips"><%= site.data.about.game1.title %></div>
      <span class="author-content-item-title"><%= site.data.about.game1.subtitle %></span>
      <div class="content-bottom">
        <div class="tips"><%= site.data.about.game1.tips_left %></div>
        <div class="tips"><%= site.data.about.game1.tips_right %></div>
      </div>
    </div>
  </div>
  <div class="author-content-item right-side">
    <img src="<%= site.data.about.game2.img %>" alt="">
    <div class="card-content">
      <div class="author-content-item-tips"><%= site.data.about.game2.title %></div>
      <span class="author-content-item-title"><%= site.data.about.game2.subtitle %></span>
      <div class="content-bottom">
        <div class="tips"><%= site.data.about.game2.tips_left %></div>
        <div class="tips"><%= site.data.about.game2.tips_right %></div>
      </div>
    </div>
  </div>
</div>
<% const likes = site.data.about.likes; %>
<div class="author-content">
  <% likes.forEach(function(like) { %>
    <div class="author-content-item <%= like.type %>" style= "background: url(<%= like.img %>)";>
      <div class="card-content">
        <div class="author-content-item-tips"><%= like.tips %></div>
        <span class="author-content-item-title"><%= like.title %></span>
        <div class="content-bottom">
            <div class="tips"><%= like.subtips %></div>
        </div>
      </div>
    </div>
  <% }); %>
</div>
