<div class="author-content">
<% const oneself = site.data.about.oneself; %>
<div class="author-content-item-group column mapAndInfo">
    <div class="author-content-item map single"><span class="map-title">我现在住在 <b><%= oneself.location %></b></span></div>
    <div class="author-content-item selfInfo single">
      <div><span class="selfInfo-title">生于</span><span class="selfInfo-content" style="color: #43a6c6;"><%= oneself.birthYear %></span></div>
      <div><span class="selfInfo-title"><%= oneself.university %></span><span class="selfInfo-content" style="color: #c69043;"><%= oneself.major %></span></div>
      <div><span class="selfInfo-title">现在职业</span><span class="selfInfo-content" style="color: #b04fe6;"><%= oneself.occupation %></span></div>
    </div>
  </div>
</div>

<div class="author-content">
    <div class="create-site-post author-content-item single">
      <div class="author-content-item-tips">心路历程</div><span class="author-content-item-title">为什么建站？</span>
      <p>创建这个站的时候，想要就是能够有一个自己能够<strong>积累知识</strong>、<strong>积累兴趣</strong>的地方。和他人分享，会让这些成为积累和沉淀。如果能够帮助到更多的人，帮助更多人解决问题，那一定是非常棒的事情。
      </p>
      <p>分享这件事我从很早就开始了，起初做的微信公众号，现在做的网站。因为我比较喜欢研究数码和软件，想要探究在互联网上的事物是如何被创造和发展。网络给我带来了非常多的知识和眼界，我也想力所能及的分享一些我生活的琐碎知识。
      </p>
      <p>与大多数垂直类的技术博客不同，这里的种类会非常的繁杂，有<strong>技能的教程干货</strong>、有<strong>生活上的吐槽和妙招</strong>、有<strong>话题上的思考和想法</strong>。一般我研究什么、发现了什么都会分享在这里。
      </p>
      <p>这些就是创造这个小站的本意，<strong>也是我分享生活的方式</strong>。有幸能和你相遇在这里，相信我们能共同留下一段美好记忆。</p>
    </div>
  </div>

