<div class="post-copyright">
    <div class="post-copyright__author">
        <a class="post-copyright__original" title="该文章为<%= page.cc %>文章，注意版权协议"><%= page.cc %></a>
        <a class="post-copyright-title" href="#">
            <span><%= page.title %></span>
        </a>
    </div>
    <div class="post-copyright__type">
        <span class="post-copyright-info" id="post-copyright-url">
            <a href="<%= url_for(page.path) %>"><%= page.permalink %></a>
        </span>
        <button class="post-copyright-copybtn" onclick="acrylic.copyPageUrl()">
            <i class="fas fa-paste copy-btn"></i>
        </button>
    </div>
    <div class="post-copyright__notice"><span class="post-copyright-info">本文是<%= page.cc %>文章，采用 <a
                href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a> 协议，完整转载请注明来自 <a
                href="/"></a></span></div>
</div>